{% extends 'shared/__MainLayout.html' %}
{% load static %}
{% block title %} <title>درباره من - {{ me.name }}  </title> {% endblock %}
{% block content %}
    <div class="page-content">
        <div class="container">
            <div class="cover shadow-lg bg-white">
                <div class="cover-bg p-3 p-lg-4 text-white">
                    <div class="row">
                        <div class="col-lg-8 col-md-7 text-center text-md-end">
                            <h2 class="h1 mt-2" data-aos="fade-left" data-aos-delay="0">{{ me.name }}</h2>
                            <p data-aos="fade-left" data-aos-delay="100">{{ me.job }}</p>
                            <div class="d-print-none" data-aos="fade-left" data-aos-delay="200"><a
                                    class="btn btn-light text-dark shadow-sm mt-1 me-1" href="{{ cv.cv_file.url }}"
                                    target="_blank">Download
                                CV</a><a class="btn btn-success shadow-sm mt-1" href="#contact">تماس با ما</a></div>
                        </div>
                        <div class="col-lg-4 col-md-5">
                            <div class="avatar hover-effect p-1" >
                                {% if me.picture %}
                                    <img src="{{ me.picture.url }}"
                                         alt="{{ me.name }}" class="img-fluid profile" />
                                {% else %}
                                    <img src="{% static 'images/default.jpg' %}" alt="default" class="img-fluid profile"/>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
                <div class="about-section pt-4 px-3 px-lg-4 mt-1">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row mt-2 text-end" dir="rtl">
                                {% for information in all_info %}
                                    <div class="col-sm-4">
                                        <div class="pb-1">{{ information.info }}</div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="pb-1 text-secondary">{{ information.value }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <h2 class="h3 mb-3 text-end">درباره من</h2>
                            <p class='text-justify' dir="rtl">{{ me.about_me }}</p>
                        </div>

                    </div>
                </div>
                <hr class="d-print-none"/>
                <div class="skills-section px-3 px-lg-4">
                    <h2 class="h3 mb-3 text-end">مهارت های فردی</h2>
                    <div class="row">
                        <div class="col-md-12 skill">
                            {% for skill in skills.main_skills %}
                                <div class="m-2"><span>{{ skill.title }}</span>
                                    {% if skill.done %}
                                        <i class="far fa-check-square check"></i>
                                    {% else %}
                                        <i class="far fa-square uncheck"></i>

                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if skills.other_skills %}
                        <hr>
                        <h2 class="h3 mb-3 text-end">سایر مهارت ها</h2>
                        <div class="row">
                            <div class="col-md-12 skill">
                                {% for skill in skills.other_skills %}
                                    <div class="m-2"><span>{{ skill.title }}</span>
                                        {% if skill.done %}
                                            <i class="far fa-check-square check"></i>
                                        {% else %}
                                            <i class="far fa-square uncheck"></i>

                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <hr class="d-print-none"/>
                <div class="work-experience-section px-3 px-lg-4">
                    <h2 class="h3 mb-4 text-end">سوابق شغلی</h2>
                    <div class="timeline">
                        {% if jobs %}
                            {% for job in jobs %}
                                <div class="timeline-card timeline-card-primary card shadow-sm">
                                    <div class="card-body">
                                        <div class="h5 mb-1">{{ job.job }} <span
                                                class="text-muted h6">at {{ job.corp }}</span></div>
                                        <div class="text-muted text-small mb-2">
                                            {{ job.start.year }}/{{ job.start.month }} -
                                            {% if job.check_now %}
                                                الان
                                            {% else %}
                                                {{ job.end.year }}/{{ job.end.month }}
                                            {% endif %}
                                        </div>
                                        <div class='text-end'>{{ job.description }}</div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="timeline-card timeline-card-primary card shadow-sm">
                                <div class="card-body">
                                    <h4 class="text-end">. بنده در حال حاضر هیچ سابقه شغلی ندارم</h4>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <hr class="d-print-none"/>
                <div class="page-break"></div>
                <div class="education-section px-3 px-lg-4 pb-4">
                    <h2 class="h3 mb-4 text-end">تحصیلات</h2>
                    <div class="timeline">
                        {% if education %}
                            {% for edu in education %}
                                <div class="timeline-card timeline-card-success card shadow-sm">
                                    <div class="card-body">
                                        <div class="h5 mb-1 " dir="rtl"> {{ edu.major }} <span class="text-muted h6">
                                        {% if edu.place %}
                                            از {{ edu.place }}
                                        {% endif %}
                                        </span></div>
                                        <div class="text-muted text-small mb-2">
                                            {{ edu.start.year }} -
                                            {% if edu.check_now %}
                                                الان
                                            {% else %}
                                                {{ edu.end.year }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="timeline-card timeline-card-success card shadow-sm">
                                <div class="card-body">
                                    <h4 class="text-end">. هیچ سابقه تحصیلی ثبت نشده است</h4>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <hr class="d-print-none"/>
                <div class="contant-section px-3 px-lg-4 pb-4" id="contact">
                    <h2 class="h3 text mb-3 text-end">تماس با ما </h2>
                    <div class="row">
                        <div class="col offset-md-1" dir='rtl'>
                            <div class="mt-2">
                                <h3 class="h6">شماره تماس</h3>
                                <div class="pb-2 text-secondary"><a href="Tel:{{ me.phone }}">{{ me.phone }}</a></div>
                                <h3 class="h6">ایمیل</h3>
                                <div class="pb-2 text-secondary"><a href="mailto:{{ me.email }}"
                                                                    target="blank">{{ me.email }}</a></div>
                            </div>
                        </div>
                        <div class="col-md-7 d-print-none offset-1">
                            <div class="my-2">

                                {% if messages %}
                                    <ul class="messages list-group">
                                        {% for message in messages %}
                                            <li{% if message.tags %}
                                                class="{{ message.tags }} text-success list-group-item text-end border-0"{% endif %}>{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                                <form action="" method="POST" dir="rtl">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-6">
                                            {{ contact_form.name }}
                                        </div>
                                        <div class="col-6">
                                            {{ contact_form.email }}
                                        </div>
                                    </div>
                                    <div class="form-group my-2">
                                        {{ contact_form.text }}
                                    </div>
                                    <button class="btn btn-primary mt-2 float-end" type="submit">Send</button>
                                </form>

                            </div>
                        </div>
                        <div class="col d-none d-print-block">
                            <div class="mt-2">
                                <div>
                                    <div class="mb-2">
                                        <div class="text-dark"><i
                                                class="fab fa-twitter mr-1"></i><span>https://twitter.com/templateflip</span>
                                        </div>
                                    </div>
                                    <div class="mb-2">
                                        <div class="text-dark"><i
                                                class="fab fa-facebook mr-1"></i><span>https://www.facebook.com/templateflip</span>
                                        </div>
                                    </div>
                                    <div class="mb-2">
                                        <div class="text-dark"><i
                                                class="fab fa-instagram mr-1"></i><span>https://www.instagram.com/templateflip</span>
                                        </div>
                                    </div>
                                    <div class="mb-2">
                                        <div class="text-dark"><i
                                                class="fab fa-github mr-1"></i><span>https://github.com/templateflip</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}