<footer class="pt-4 pb-4 text-muted text-center d-print-none">
    <div class="container">
        <div class="my-3">
            <div class="h4">{{ me.name }}</div>
            <div class="footer-nav">
                <nav role="navigation">
                    <ul class="nav justify-content-center">
                        {% for social in socials %}
                            <li class="nav-item"><a class="nav-link" href="{{ social.link }}"
                                                    title="{{ social.title }}">{{ social.icon_tag|safe }}<span
                                    class="menu-title sr-only">{{ social.title }}</span></a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
        <div class="text-small">
            <div>Design - <a href="https://templateflip.com/" target="_blank">TemplateFlip</a></div>
        </div>
    </div>
</footer>
