<header class="d-print-none">
    <div class="container text-center text-lg-left">
        <div class="py-3 clearfix">
            <h1 class="site-title mb-0">{{ me.name }}</h1>
            <div class="site-nav">
                <nav role="navigation">
                    <ul class="nav justify-content-center">
                        {% for social in socials %}
                            <li class="nav-item"><a class="nav-link" href="{{ social.link }}"
                                                    title="{{ social.title }}">{{ social.icon_tag|safe }}<span
                                    class="menu-title sr-only">{{ social.title }}</span></a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
